go 1.20

use (
	./behavioralPattern/chain
	./behavioralPattern/command
	./constructorPattern/abstractFactory
	./constructorPattern/builder
	./constructorPattern/factoryMethod
	./constructorPattern/prototype
	./constructorPattern/singleton
	./behavioralPattern/iterator
	./behavioralPattern/mediator
	./behavioralPattern/memento
	./behavioralPattern/observer
	./behavioralPattern/status
	./behavioralPattern/strategy
	./structuralPattern/adapter
	./structuralPattern/bridge
	./structuralPattern/composite
	./structuralPattern/decorator
	./structuralPattern/facade
	./structuralPattern/flyweight
	./structuralPattern/proxy
	./behavioralPattern/templateMethod
	./behavioralPattern/visitor
)
